# HLStatsX Database Settings
DB_ROOT_PASS=hlstats_root_pass
DB_NAME=hlstatsx
DB_USER=hlstatsx
DB_PASS=hlstatsx_password

# UDP Forwarder Settings
PROXY_KEY=d7fe18f9c4d10180f2aa6393
GAME_SERVER_IP=192.168.1.1
GAME_SERVER_PORT=27015